################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DSA/bin/Debug/net5.0
/DSA/obj
/Docs.txt
/BasicCSharp/obj/Debug/net5.0/BasicCSharp.csproj.AssemblyReference.cache
